services:
  - type: web
    name: inmova
    env: node
    plan: starter
    region: frankfurt
    buildCommand: yarn install && yarn prisma generate && yarn build
    startCommand: yarn start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: NEXTAUTH_SECRET
        sync: false
      - key: NEXTAUTH_URL
        sync: false
