name: Deploy Now

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: "157.180.119.236"
          username: "root"
          password: "hBXxC6pZCQPBLPiHGUHkASiln+Su/BAVQAN6qQ+xjVo="
          port: 22
          timeout: 30s
          command_timeout: 15m
          script: |
            cd /opt/inmova-app
            git pull origin main
            npm run build
            pm2 reload inmova-app --update-env
            sleep 10
            curl -s -o /dev/null -w "%{http_code}" http://localhost:3000/api/health
